body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: rgb(164, 0, 0);
}

.img {
    border-radius: 50%;
}

.header {
    background: #fff;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    color: rgb(164, 0, 0);
    text-decoration: none;
    font-size: 72px;
    font-weight: bold;
}

.navbar {
    background: rgb(164, 0, 0);
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff !important;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #aed581 !important;
}

.auth-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.auth-links li {
    margin-left: 20px;
}

.auth-links a {
    color: rgb(22, 190, 86) !important;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    padding: 10px;
}

footer {
    background: rgb(164,0,0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;  /* Changed from fixed to relative */
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.vertical-accordion {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 100px;
}

.vertical-accordion-item {
    border-bottom: 1px solid #ccc;
}

.vertical-accordion-title {
    padding: 10px;
    background: #f1f1f1;
    cursor: pointer;
}

.vertical-accordion-content {
    display: none;  /* Initially hidden */
    padding: 10px;
    background: #fff;
}

.tool {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.remove-asset-button {
    color:#e34c26
    padding: 2px 6px;
    font-size: 6px;
    line-height: 1;
    border-radius: 0px;
}

.HTML { background-color: #e34c26; }
.CSS { background-color: #264de4; }
.JavaScript { background-color: #f7df1e; color: #000; }
.Python { background-color: #16bf3a; }
.React { background-color: #16bf3a; color: #000; }
.Django { background-color: #092e20; }
.cpp { background-color: #005eff; }
