/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #333;
}

header {
    background: #00796b;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #aed581;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    padding: 10px;
}

footer {
    background: #004d40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.vertical-accordion {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 100px;
}

.vertical-accordion-item {
    border-bottom: 1px solid #ccc;
}

.vertical-accordion-title {
    padding: 10px;
    background: #f1f1f1;
    cursor: pointer;
}

.vertical-accordion-content {
    display: none;  /* Initially hidden */
    padding: 10px;
    background: #fff;
}

.tool {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.HTML { background-color: #e34c26; }
.CSS { background-color: #264de4; }
.JavaScript { background-color: #f7df1e; color: #000; }
.Python { background-color: #306998; }
.React { background-color: #61dafb; color: #000; }
.Django { background-color: #092e20; }
.cpp { background-color: #005eff; }

