<!DOCTYPE html>
<html lang="en">
<head>
    <!--CSS link-->
    <title>{% block title %}Portfolio Tracker{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Header content-->
        {% block header %}{% endblock %}
    </header>

    <nav>
        <!-- Nav bar -->
        {% block nav %}{% endblock %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Footer -->
        {% block footer %}{% endblock %}
    </footer>

    <!-- JS -->
    {% block scripts %}{% endblock %}
</body>
</html>
