{% extends 'base.html' %}

{% block title %}Streck{% endblock %}

{% block header %}
    <!-- header -->
{% endblock %}

{% block content %}
    <h1>Streck</h1>
    <img src="{{ url_for('static', filename='streck.jpeg') }}" alt="Profile Picture" width="300" height="300">
    <br></br>
    <body>This is a website I designed as a hub for the projects I've worked on, 
        as well as some other stuff.
    </body>
    <body>
        <body>
            <h2>Projects</h2>
            <div class="vertical-accordion">
                <div class="vertical-accordion-item">
                    <h3 class="vertical-accordion-title">Personal Website</h3>
                    <div class="vertical-accordion-content">
                        <p>This is the website you are browsing right now. It was designed for fun, but simultaneously as a place to try things out and showcase my work. If you're interested in learning more about the website, check out the <a href="https://github.com/streckts/portfolio-tracker">GitHub repository</a>.
                        </p>
                        <div class="tools">
                            <span class="tool HTML">HTML</span>
                            <span class="tool CSS">CSS</span>
                            <span class="tool JavaScript">JavaScript</span>
                            <span class="tool Python">Python</span>
                        </div>
                    </div>
                </div>
                <div class="vertical-accordion">
                    <div class="vertical-accordion-item">
                        <h3 class="vertical-accordion-title">Portfolio Tracker</h3>
                        <div class="vertical-accordion-content">
                            <p>A web application designed to help users track and visualize data related to their asset portfolios. Users can visualize information related to assets they own across multiple platforms in a single place. I embarked on this project when I grew frustrated with having to manually track my portfolio value and assets in Excel. I figured this project would make it more convenient for myself, as well as leverage stronger data visualization tools such as Altair.
                            </p>
                            <div class="tools">
                                <span class="tool Python">Python</span>
                                <span class="tool CSS">CSS</span>
                                <span class="tool HTML">HTML</span>
                                <span class="tool JavaScript">JavaScript</span>
                            </div>
                        </div>
                    </div>
                <div class="vertical-accordion-item">
                    <h3 class="vertical-accordion-title">3D Auto-Annotator for SDVs</h3>
                    <div class="vertical-accordion-content">
                        <p>Developed a functional object-recognition pipeline (auto-annotator) at AEye Inc. for self-driving vehicles using C++ for geometric feature engineering and segmentation on point cloud data, and Python for unsupervised clustering. Project was used at AEye for auto-annotation, cutting down rapidly on the time spent manually annotating point clouds. While I am not allowed to share the project explictely, you can check out my <a href='https://docs.google.com/presentation/d/13UABvSPI6pQ_rqtk1g_lGrslyHpiv0RmcoH-w3Lj37A/edit?usp=sharing'>internship presentation</a> where I walk through the project pipeline.
                        </p>
                        <div class="tools">
                            <span class="tool cpp">C++</span>
                            <span class="tool Python">Python</span>
                        </div>
                    </div>
                </div>
                <div class="vertical-accordion-item">
                    <h3 class="vertical-accordion-title">Political Bias Detector</h3>
                    <div class="vertical-accordion-content">
                        <p>Developed several natural language processing models for detecting bias in news articles. Responsibilities in this project included creating the LSTMs which were the strongest performing models and contributing to a web-scraper to get data.
                        </p>
                        <div class="tools">
                            <span class="tool Python">Python</span>
                        </div>
                    </div>
                </div>
                <div class="vertical-accordion-item">
                    <h3 class="vertical-accordion-title">Hat Webstore</h3>
                    <div class="vertical-accordion-content">
                        <p>
                        </p>
                        <div class="tools">
                            <span class="tool cpp">HTML</span>
                            <span class="tool Python">CSS</span>
                            <span class="tool JavaScript">JavaScript</span>>
                        </div>
                    </div>
                </div>
                <div class="vertical-accordion-item">
                    <h3 class="vertical-accordion-title">Convolutional Neural Network from Scratch</h3>
                    <div class="vertical-accordion-content">
                        <p>
                        </p>
                        <div class="tools">
                            <span class="tool Python">Python</span>
                        </div>
                    </div>
                </div>
                <div class="vertical-accordion-item">
                    <h3 class="vertical-accordion-title">C++ Weather App</h3>
                    <div class="vertical-accordion-content">
                        <p>Very basic CLI weather app which returns live weather based on a user provided location
                        </p>
                        <div class="tools">
                            <span class="tool cpp">C++</span>
                        </div>
                    </div>
                </div>
                <!-- Additional vertical accordion items for other projects -->
            </div>
        </body>
    </body>
    <!-- home -->
{% endblock %}
