{% extends 'base.html' %}

{% block title %}Streck{% endblock %}

{% block header %}
    <!-- header -->
{% endblock %}

{% block content %}
    <h1>Streck</h1>
    <img src="{{ url_for('static', filename='streck.jpeg') }}" alt="Profile Picture" width="300" height="300">
    <br></br>
    <body>This is a website I designed for fun. It also serves as a hub for the projects I've worked on, 
        as well as some other fun stuff!
    </body>
    <body>
        <body>
            <h2>Projects</h2>
            <div class="vertical-accordion">
                <div class="vertical-accordion-item">
                    <h3 class="vertical-accordion-title">Personal Website</h3>
                    <div class="vertical-accordion-content">
                        <p>This is the website you are browsing right now! It was designed for fun, but simultaneously as a place to try things out and showcase my work!
                            Please check out the different pages, and try things out!
                            If you're interested in learning more about the website, check out the GitHub repository https://github.com/streckts/portfolio-tracker.
                        </p>
                        <div class="tools">
                            <span class="tool">HTML</span>
                            <span class="tool">CSS</span>
                            <span class="tool">JavaScript</span>
                            <span class="tool">Python</span>
                        </div>
                    </div>
                </div>
                <!-- Additional vertical accordion items for other projects -->
            </div>
        </body>
    </body>
    <!-- home -->
{% endblock %}
