{% extends 'base.html' %}

{% block title %}Streck{% endblock %}

{% block header %}
    <!-- header -->
{% endblock %}

{% block content %}
    <h1>Portfolio Tracker</h1>
    <img src="{{ url_for('static', filename='streck.jpeg') }}" alt="Profile Picture" width="300" height="300">
    <br></br>
    <body>This is a website I designed for fun. It also serves as a hub for the projects I've worked on, 
        as well as some other fun stuff!
    </body>
    <h2>Projects</h2>
    <body>Here are a list of some of the projects I have worked on and created. Some of these projects
        are available to see on this website, while others might point to GitHub or blogs.
    </body>
    <!-- home -->
{% endblock %}
